<a href="https://colab.research.google.com/github/Victory567/lab-revisiting-machine-learning/blob/master/Untitled_(15).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv('learningSet.csv')
numerical = pd.read_csv('numerical.csv')
categorical = pd.read_csv('categorical.csv')
targets = pd.read_csv('target.csv')

In [ ]:
data.shape

(95412, 481)

In [ ]:
data.describe()

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,50680.000000,95412.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,5.345699,3.321438,0.152075,0.059166,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,2.742490,9.306899,0.470023,0.262078,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,8.000000,3.000000,0.000000,0.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,9.000000,241.000000,6.000000,4.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000

In [ ]:
pip install perfplot

Requirement already satisfied: perfplot in c:\users\dell\anaconda3\lib\site-packages (0.10.2)
Requirement already satisfied: rich in c:\users\dell\anaconda3\lib\site-packages (from perfplot) (13.3.1)
Requirement already satisfied: matplotx in c:\users\dell\anaconda3\lib\site-packages (from perfplot) (0.3.10)
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from perfplot) (1.21.5)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\lib\site-packages (from perfplot) (3.5.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (3.0.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (9.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (1.3.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->perfplot) (1.16.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.1.0 in c:\users\dell\anaconda3\lib\site-packages (from rich->perfplot) (2.1.0)
Requirement already satisfied: pygments<3.0.0,>=2.14.0 in c:\users\dell\anaconda3\lib\site-packages (from rich->perfplot) (2.14.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\dell\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.1.0->rich->perfplot) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
categorical.info

<bound method DataFrame.info of        STATE  CLUSTER HOMEOWNR GENDER  DATASRCE RFA_2R RFA_2A GEOCODE2  \
0         IL       36        H      F         3      L      E        C
1         CA       14        H      M         3      L      G        A
2         NC       43        U      M         3      L      E        C
3         CA       44        U      F         3      L      E        C
4         FL       16        H      F         3      L      F        A
...      ...      ...      ...    ...       ...    ...    ...      ...
95407  other       27        H      M         3      L      G        C
95408     TX       24        H      M         3      L      F        A
95409     MI       30        H      M         3      L      E        B
95410     CA       24        H      F         2      L      F        A
95411     NC       24        U      F         3      L      G        C

      DOMAIN_A  DOMAIN_B  ...  DOB_YR  DOB_MM  MINRDATE_YR  MINRDATE_MM  \
0            T         2  ...      37      12           92            8
1            S         1  ...      52       2           93           10
2            R         2  ...       0       2           91           11
3            R         2  ...      28       1           87           11
4            S         2  ...      20       1           93           10
...        ...       ...  ...     ...     ...          ...          ...
95407        C         2  ...       0       2           96            2
95408        C         1  ...      50       1           96            3
95409        C         3  ...      38       1           96            3
95410        C         1  ...      40       5           90           11
95411        C         1  ...      18       1           88           12

       MAXRDATE_YR  MAXRDATE_MM  LASTDATE_YR  LASTDATE_MM  FIRSTDATE_YR  \
0               94            2           95           12            89
1               95           12           95           12            93
2               92            7           95           12            90
3               94           11           95           12            87
4               96            1           96            1            79
...            ...          ...          ...          ...           ...
95407           96            2           96            2            96
95408           96            3           96            3            96
95409           95            1           96           10            94
95410           96            8           97            1            86
95411           93           12           96           12            88

       FIRSTDATE_MM
0              11.0
1              10.0
2               1.0
3               2.0
4               3.0
...             ...
95407           2.0
95408           3.0
95409          10.0
95410          12.0
95411           3.0

[95412 rows x 22 columns]>

In [ ]:
import numpy as np
import pandas as pd
import perfplot


def setup(n):
    df = pd.DataFrame(np.random.randn(n))
    df[df > 0.9] = np.nan
    return df


def isnull_any(df):
    return df.isnull().any()


def isnull_values_sum(df):
    return df.isnull().values.sum() > 0


def isnull_sum(df):
    return df.isnull().sum() > 0


def isnull_values_any(df):
    return df.isnull().values.any()


perfplot.save(
    "out.png",
    setup=setup,
    kernels=[isnull_any, isnull_values_sum, isnull_sum, isnull_values_any],
    n_range=[2 ** k for k in range(25)],
)

Output()

In [ ]:

data = {'Column 1': [1, 2, 3, None], 'Column 2': ['A', None, 'C', 'D'], 'Column 3': [True, False, None, True]}
df = pd.DataFrame(data)


print(df.isnull().any())

Column 1    True
Column 2    True
Column 3    True
dtype: bool

In [ ]:
drop_list = []

In [ ]:
drop_list.append('OSOURCE')
drop_list.append('ZIP CODE')

In [ ]:
import pandas as pd


data = {'Column 1': [1, 2, 3, None], 'Column 2': ['A', None, 'C', 'D'], 'Column 3': [True, False, None, True], 'Column 4': [None, None, None, None], 'Column 5': [1, 2, None, 4], 'Column 6': [None, None, None, None]}
df = pd.DataFrame(data)
threshold = 0.85
percent_missing = df.isnull().sum() / len(df)
drop_list = percent_missing[percent_missing > threshold].index.tolist()

print(drop_list)

['Column 4', 'Column 6']

In [ ]:

data = {'Column 1': [1, 2, 3, None], 'Column 2': ['A', None, 'C', 'D'], 'Column 3': [True, False, None, True], 'Column 4': [None, None, None, None], 'Column 5': [1, 2, None, 4], 'Column 6': [None, None, None, None]}
df = pd.DataFrame(data)
threshold = 0.85
percent_missing = df.isnull().sum() / len(df)
drop_list = percent_missing[percent_missing > threshold].index.tolist()
df = df.drop(drop_list, axis=1)

print(df)

   Column 1 Column 2 Column 3  Column 5
0       1.0        A     True       1.0
1       2.0     None    False       2.0
2       3.0        C     None       NaN
3       NaN        D     True       4.0

In [ ]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64

In [ ]:

data = {'Name': ['John', 'Jane', 'Bob', 'Mary'], 'Gender': ['Male', 'Female', 'M', 'Other']}
df = pd.DataFrame(data)
df['Gender (new)'] = df['Gender'].map({'Male': 'M', 'Female': 'F'}).fillna('Other')

print(df)

   Name  Gender Gender (new)
0  John    Male            M
1  Jane  Female            F
2   Bob       M        Other
3  Mary   Other        Other